<p id="notice"><%= notice %></p>

<h1>Listing Monetary Activities</h1>

<table>
  <thead>
    <tr>
      <th>Spent on</th>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monetary_activities.each do |monetary_activity| %>
      <tr>
        <td><%= monetary_activity.spent_on %></td>
        <td><%= monetary_activity.name %></td>
        <td><%= monetary_activity.amount %></td>
        <td><%= link_to 'Show', monetary_activity %></td>
        <td><%= link_to 'Edit', edit_monetary_activity_path(monetary_activity) %></td>
        <td><%= link_to 'Destroy', monetary_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monetary activity', new_monetary_activity_path %>
